@{
    ViewBag.Title = "About";
}

<div class="container body-content">
    <br\>
    <div class="row">
        
        <div class="col-lg-4">

            <img src="~/pranjol.jpg" class="bd-placeholder-img rounded-circle" alt="" width="200" height="200" />

            <h2>Ahnaf Tajwar Basunia </h2>
            <p>20200104104</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="~/iftee.jpg" class="bd-placeholder-img rounded-circle" alt="" width="200" height="200" />

            <h2>Mahmood Iftee</h2>
            <p>20200104119</p>

        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="~/fardin.jpg" class="bd-placeholder-img rounded-circle" alt="" width="200" height="200" />

            <h2>Sheikh Fardin</h2>
            <p>190104011</p>

        </div><!-- /.col-lg-4 -->
    </div>
</div>